/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media (min-width: 992px) {
	.show {
		margin-left: 13em;
		margin-right: 13em;
	}
}

.title {
	text-align: center;
	font-family: "Times New Roman";
	margin-bottom: 12px;
}

.date {
	font-size: 13px;
	color: #757575;
	margin-bottom: 40px;
}

.text-content {
	font-family: "Times New Roman";
	font-size: 21px;
	line-height: 1.58;
	color: #212121;
}

.navbar {
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.navbar-brand {
	font-size: 26px !important;
}
